<footer class="fixed-bottom">
    <div class="container mt-5 text-black-50">
        <div>
            <div class="d-flex flex-wrap justify-content-center">
                <p class="m-1">Danilo Maia Florenzano</p>
                <p class="m-1">•</p>
                <p class="m-1">João Victor Soares Jordão</p>
                <p class="m-1">•</p>
                <p class="m-1">Jean Lucas Thomaz Jardim Cota</p>
                <p class="m-1">•</p>
                <p class="m-1">Lucas Moreira Leckar</p>
                <p class="m-1">•</p>
                <p class="m-1">Cauã Felipe Rodrigues Pereira</p>
            </div>
        </div>
    </div>
</footer>

@code {

}