@using Core.Entities

<div class="card m-2" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">@Project.Name</h5>
    <h6 class="card-subtitle mb-2 text-muted">@Project.Description</h6>
    <p class="card-text">@LimitText(Project.TextBody, 100)</p>
    <a href="@($"projeto/{Project.Id}")" class="card-link">Leia mais</a>
  </div>
</div>

@code {
    [Parameter]
    public Project Project { get; set; }
    
    public string LimitText(string text, int tamanho)
    {
        var shortTextBody = "";
        
        // limit text in 50 characters
        if (text.Length > tamanho)
        {
            shortTextBody = text.Substring(0, tamanho) + "...";
        }
        else
        {
            shortTextBody = text;
        }
        return shortTextBody;
    }
}